.mwl-calendar .cal-slide-box, .cal-slide-content cal-event-list{
  box-shadow: none !important;
  background: #19576f !important;
}

.event-item-action{
  display: none !important;
}

.margin-bottom-none{
  margin-bottom: 20px;
}

.coluna-calendar{
  width: 7%;
  margin-top: 30px;
  height: 585px;
}

.coluna-calendar .faixa-horarios{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aling-items: center;  
  height: 101px;
  background-color: blue;
  border-bottom: 1px solid white;
  color: white;
}

.coluna-calendar .faixa-horarios .faixa{
  display: flex;
  padding: 10px;

}

.flex-box-wrapper{
  width: 100%;
  display: flex;
}

.comp-calendar{
  width: 90%;
}

.col-center-fix{
  float:none;
  margin: auto;
}

/* Cores plantão */

.cinza{
  background: #666 !important;
}

.verde{
  background: #3fcc34 !important;
}

.vermelho{
  background: #f17878 !important;
}


